* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 28px;
}

#close {
    display: none;

}

.close1 {
    display: none;

}

.page1 {
    /* background-image: linear-gradient(to bottom right, #000428,#004e92 ); */
    background: black;
    /* background: #e4cbdd2f; */
    /* background: black; */
    color: white;
    /* color: #0575E6; */
    padding-bottom: 70px;
}

/* 
.page1::after {
    color: red;
    content: '';
    position: absolute;
    top: 960px;
    left: 0;
    right: 0;
    height: 90px;
    transform: skewY(-1.5deg);
    display: block;
    background-image: linear-gradient(to right, #0575E6, #021B79);
    background-color: black;
} */


nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: black;
    padding: 0 30px;
    /* padding:10px 30px 10px 30px; */
}

.logo {
    width: 150px;
}

ul {
    list-style: none;
    display: flex;

    transition: all .5s;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
    transition: all ease .5s;

}

ul li a:hover {
    color: #f64f59;
    /* color:#0575E6; */

}

ul li {
    padding: 10px;
    /* padding-bottom: 0; */
}



li::after {

    content: '';
    height: 2px;
    width: 0%;
    background-image: linear-gradient(to right, #1488CC, #004e92);
    /* background-image:linear-gradient(to right,#2B32B2,#1488CC); */
    display: block;
    margin: auto;
    transition: all 0.6s ease 0s;
    margin-top: 3px;
    border-radius: 2px;
}

li:hover::after {

    color: gold;
    height: 2px;
    width: 100%;

}


.p1s2 {
    display: flex;
    padding: 0 19%;
}

.p1s2 br {
    display: none;

}

.exp1 {
    width: 800px;
}

.p1s2 h1 {
    font-size: 80px;
    margin-bottom: 30px;
}

.p1s2 p {
    font-size: 22px;
    margin-bottom: 35px;
}

.light {
    width: 570px;
    /* padding-bottom: 80px; */
}

.p1s2 button {
    cursor: pointer;
    width: 240px;
    height: 60px;
    margin-top: 10px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    background-image: linear-gradient(to right, #0575E6 50%, #c471ed 25%, #f64f59 25%);
    /* background-image: linear-gradient(to right, #12c2e9 50%, #c471ed,#f64f59); */
    /* background-image: linear-gradient(to right, #0575E6, #021B79); */
    background-size: 250%;
    background-position: top left;
    transition: all ease 1.2s;
}

.p1s2 button:hover {
    background-position: top right;
    /* background-image: linear-gradient(to left, #0575E6, #021B79); */

}

.p1s2 button a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: all ease 1s;
    display: block;
    margin: auto;
    box-sizing: border-box;
}


.page2 {
    height: 110vh;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to right, #0575E6, #021B79);
    /* background-image: linear-gradient(to right, #ff00cc, #333399); */
    /* background-image:linear-gradient(to right, #833ab4, #fd1d1d); */
    padding: 0 420px;
    box-sizing: border-box;
}


.p2head br {
    display: none;
}

.p2head h1 {
    padding-top: 80px;
    margin-top: 0px;
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}

.p2head p {
    padding-top: 0px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.search {
    width: 600px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 40px auto;
    border-radius: 35px;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 0px 50px rgb(59, 41, 107); */
    background: #fff;
}

.search input {

    border: none;
    outline: none;
    color: #0575E6;
    border-radius: 30px;
    width: 350px;
    height: 30px;
    margin: 13px;
    font-size: 23px;
    padding: 2px;
}

@keyframes pop {

    0% {
        transform: scale(1)translateY(-5px);
    }

    25% {
        transform: scale(1.2)translateX(5px);
    }

    50% {
        transform: scale(1.3)translateY(5px);
    }

    100% {
        transform: scale(1.5) translateX(-5px);
    }

}

.search img {
    width: 18px;
    margin-right: 8px;
    display: inline-block;
    transition: all ease .5s;

}

.search button {

    border: none;
    outline: none;
    background-color: #ff3400;
    height: 50px;
    width: 180px;
    border-radius: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.search button:hover img {

    transform: scale(1.5) rotateY(360deg);
    animation: pop 1s ease 0s infinite alternate;


}


.search a {
    text-decoration: none;

    font-size: 20px;
    color: white;


}

.price {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    gap: 30px;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 90px;
}

.card {
    text-align: left;
    border-radius: 5px;
    /* backdrop-filter: blur(5px); */
    width: fit-content;
    height: 425px;
    padding: 20px;
    /* background: rgba(255, 255, 255, 0.1); */
    background-image: linear-gradient(to right, #0575E6, #021B79);
    /* background-image:linear-gradient(to right,#0575E6 50%, #021B79 50%); */
    background-size: 200%;
    background-position: top left;
    color: whitesmoke;
    /* border-left: 3px solid rgba(255, 255, 255, 0.1);
    border-top: 3px solid rgba(255, 255, 255, 0.1); */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    transition: all ease 1s;

}

.card:hover {
    background-size: 100%;
    transform: scale(1.170);
}


.entry {
    font-size: 24px;
}

.dics {
    display: flex;
    padding-left: 20px;
    justify-content: start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.dics h1 {
    font-size: 40px;
    margin: 15px 0px;
    margin-right: 10px;

}

.dics :nth-child(2) {
    font-size: 22px;
    margin-top: 20px;
}

@keyframes dot {

    0% {
        font-size: 0px;
        height: 30px;
        width: 30px;
        right: -83px;
        bottom: 15px;
    }

    25% {
        font-size: 0px;
        height: 30px;
        width: 30px;
        /* right: -123px;
        bottom: 15px; */
    }

    50% {
        font-size: 0px;
        height: 30px;
        width: 30px;
        /* right: -123px;
        bottom: 15px; */
    }

    75% {
        font-size: 0px;
        height: 30px;
        width: 30px;
        /* right: -123px;
        bottom: 15px; */
    }


    100% {
        font-size: 18px;
        height: 30px;
        width: 100px;
        right: 5px;
    }

}

.dics .off {

    position: absolute;
    right: 5px;
    bottom: 15px;
    display: block;
    background-color: red;
    font-size: 0px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    /* animation-iteration-count:; */
    /* animation: pop 1s ease 0s infinite alternate; */
    display: none;
}

.card:hover .off {
    font-size: 18px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 30px;
    animation: dot 1s ease 0s none normal;

}


.easy {
    font-size: 20px;
    margin: 10px 10px;
}



/* .tick{
display: flex;
flex-direction:column;
} */


.tick img {
    width: 22px;
    float: left;
    margin: 5px 10px 0px 0px;
}

.tick p {
    margin-bottom: 20px;
    font-size: 22px;
}

.cards button {
    cursor: pointer;
    width: 288px;
    height: 64px;
    outline: none;
    border: none;
    border-radius: 30px;
    display: block;
    margin: 50px auto 0 auto;
    transition: all ease .8s;
}

.cards button:hover {
    background: #ff3400;
}

.cards button a {
    text-decoration: none;
    font-size: 20px;
    transition: all ease .7s;
}


.cards button:hover a {
    color: white;
}

.page3 {
    margin: 0 420px;
}


.head3 {
    text-align: center;
    margin: 50px 0 50px 0;
}

.head3 br {
    display: none;
}

.head3 h1 {
    font-size: 43px;
    color: #0575E6;
    margin: 10px 0;
}

.head3 p {
    font-size: 20px;
    color: #021B79;

}

.details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    margin: 30px 0 90px 0;
}



.roundimg {
    background-color: #F3F9FA;
    Width: fit-content;
    align-items: center;
    border-radius: 50%;
}

.wasd {
    width: 390px;
}

.wasdd {
    text-align: right;
    width: 390px;
}

.wasd br {
    display: none;
}

.wasdd br {
    display: none;
}


.details img {
    /* float: left; */
    width: 540px;
}

.roundimg img {
    /* float: left; */
    width: 40px;
}

.details h1 {
    font-size: 24px;
    color: #0575E6;

}

.details p {
    color: #021B79;
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 20px;

}

.details a {
    font-size: 18px;
    color:#ff3400;
    text-decoration: none;
    transition: all ease .5s;
}

.details a:hover {
    color: #0575E6;

}
.details a .fa-arrow-right{
    font-size: 16px;
    color:red;
}

.page4 {
    background: black;
    color: white;
    padding: 60px 0 90px 0;

}

.page4cont {
    display: flex;
    justify-content: center;
    align-items: center;

}

.page4 br {
    display: none;
}

.ext {
    display: none;
}

.p4h1 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 60px 0;
}



.p4img img {
    width: 700px;
    padding: 20px 0;
}

.far {
    font-size: 40px;
    display: flex;
    color: rgb(31, 160, 219);
}

.fab {
    font-size: 40px;
    display: flex;
    color: rgb(31, 160, 219);
}

.fas {
    font-size: 35px;
    display: flex;
    color: rgb(31, 160, 219);
}


.imgtext {
    display: flex;
    width: 600px;
    margin-left: 20px;
}

.imgtext .hp {
    margin: 0 0 21px 20px;
}

.hp h1 {
    font-size: 24px;
    margin-top: 0;
    font-weight: 500;
}

.imgtext p {
    font-size: 18px;
    color: #7B858B;
    line-height: 27px;
}

.lastpage {
    position: relative;
    padding: 20px 20px;
    padding-bottom: 0px;

}



.lasth1 {
    text-align: center;

}

.lasth1 br {
    display: none;

}

.lasth1 h1 {
    font-size: 40px;
    color: #0575E6;
    margin-bottom: 20px;
}

.lasth1 p {
    color: #021B79;
    font-size: 18px;
}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.commbox {
    display: flex;
    position: relative;
    width: fit-content;
    padding: 30px;
    box-sizing: border-box;
    margin: 40px 0 20px 0;
    margin-bottom: 80px;
    border-radius: 4px;
    box-shadow: 0px 0px 50px rgb(175, 175, 175);
}




.italic .pp {
    width: 450px;
    font-style: italic;
    font-size: 30px;

    color: #021B79;
    padding: 17px 0;
    margin: 90px 0 0 30px;
}

.name {
    margin-left: 30px;
    color: #0575E6;
    padding-left: 30px;
}

.name::after {
    content: "";
    background: #0575E6;
    width: 40px;
    height: 2px;
    position: absolute;
    left: 580px;
    bottom: 220px;

}


.name span {
    color: #021B79;
    display: block;
    font-size: 18px;


}

.glasguy img {

    width: 540px;
}

.bluepage {
    width: 100%;
    height: 200px;
    box-sizing:border-box;

}

.blue {
    position: absolute;
    width: 900px;
    padding: 35px;
    display: flex;
    background-color: #2584ff;
    color: white;
    border-radius: 5px;
    position: relative;
    left:466px;
    right:0;
    top:70px;
    bottom:0;
    

}

.ready {
    width: 750px
}

.blue h1 {
    font-size: 30px;
    margin-top:0px;
}

.blue p {
    font-size: 18px;
}

/* 
.blue button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
} */

.blue button a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: all ease 1s;
    display: block;
    margin: auto;
    box-sizing: border-box;
}


.blue button {
    cursor: pointer;
    width: 288px;
    height: 64px;
    outline: none;
    border: none;
    border-radius: 30px;
    display: block;
    margin: 20px auto 0 auto;
    transition: all .3s;
    background: #0575E6;
    
}

.blue button:hover {
    background: #ff3400;
    box-shadow: 0px 0px 50px rgb(255, 81, 1);
}


footer {
    display: flex;
    background: #232323;
    color: whitesmoke;
    padding: 30px 20px;
    justify-content:center;
    align-items:center;
}
footer {
    display: flex;
    background: #232323;
    color: whitesmoke;
    padding: 30px 20px;
}
.fbox{
    padding:50px;
}
footer h1 {
    font-size: 20px;
    margin-bottom: 0px;
}

footer a {
    text-decoration: none;
    color: #777777;
    display: block;
    line-height: 27px;
    font-size:18px;
}

.copyright {
    padding: 40px 20px;
    margin: auto;
    text-align: center;
    margin:0;
}

.copyright p{
    font-size:20px;
}

.copyright img {
    display: block;
    margin: auto;
    width: 230px;
}






/* 


=================================================================== */




@media(max-width:720px) {

    body {
        font-family: sans-serif;
        font-size: 20px;
    }

    .page2 {
        padding: 0;
    }


    .page2::after {

        content: '';
        position: absolute;
        top: 983px;
        left: 0;
        right: 0;
        height: 50px;
        background: red;

        background-image: linear-gradient(to right, #0575E6, #021B79);
        /* background-image:linear-gradient(to right, #833ab4, #fd1d1d); */
    }

    .page1::after {
        color: red;
        content: '';
        position: absolute;
        top: 956px;
        left: 0;
        right: 0;
        height: 50px;
        transform: skewY(-7deg);
        background-image: linear-gradient(to right, #0575E6, #021B79);
    }

    .logo {
        width: 150px;
        padding: 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
        background-image: linear-gradient(to right, #0575E6, #021B79);
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100vw;
        height: 100vh;
        text-align: center;
        transition: all .5s;
    }

    nav ul.show {
        left: 0;
    }


    ul li {
        list-style: none;
        /* padding:7px; */
    }

    ul :nth-child(1) {
        padding-top: 40px;
    }

    ul li a {
        text-decoration: none;
        font-size: 26px;
        color: #fff;
    }

    #close {
        display: block;
        width: 50px;
        cursor: pointer;
        font-size: 27px;
        text-align: center;
        margin-top: 13px;


    }

    .p1s2 {
        text-align: center;
        padding-top: 20px;
    }

    .p1s2 h1 {
        font-size: 60px;
        margin-bottom: 0px;
    }

    .light {
        width: 95vw;
        padding-bottom: 80px;
    }

    .p1s2 p {
        font-size: 20px;
        /* color: #b9c3cf; */
        font-weight: 500;
        line-height: 29px;

    }

    .p1s2 button {
        width: 240px;
        height: 60px;
        margin-top: 30px;
        outline: 0;
        border: 0;
        border-radius: 30px;
        background-image: linear-gradient(to right, #0575E6, #021B79);
    }

    .p1s2 button a {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        color: white;
    }

    .p2head h1 {
        padding-top: 20px;
        color: #fff;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .p2head p {
        padding-top: 0px;
        color: #fff;
        font-size: 20px;
        line-height: 30px;
    }

    .search {
        width: 352px;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 40px auto;
        border-radius: 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        /* box-shadow: 0px 0px 50px rgb(0, 0, 0); */
        background: #fff;
    }

    .search input {
        border: none;
        outline: none;
        color: #1b0760;
        border-radius: 30px;
        width: 180px;
        height: 30px;
        margin: 20px;
        font-size: 20px;
        padding: 2px;
    }





    .search img {
        width: 18px;
        margin-right: 8px;

    }



    .search button {
        cursor: pointer;
        border: none;
        outline: none;
        background-color: #ff3400;
        height: 61px;
        width: 130px;
        border-radius: 30px;
        margin-right: 5px;
    }

    .search a {
        text-decoration: none;

        font-size: 18px;
        color: white;


    }

    .price {
        display: grid;
        grid-template: repeat(3, 30px)/ repeat(2, 100px);
        justify-content: center;
        font-weight: 600;
        font-size: 20px;
        gap: 10px;

    }

    .card {
        text-align: left;
        border-radius: 5px;
        backdrop-filter: blur(5px);
        width: fit-content;
        margin: 60px auto 0px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.1);
        color: whitesmoke;
        border-left: 2px solid rgba(255, 255, 255, 0.1);
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    }

    .entry {
        font-size: 24px;
    }

    .dics {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dics h1 {
        font-size: 50px;
        margin: 15px 0px;
        margin-right: 10px;

    }

    .dics :nth-child(2) {
        font-size: 20px;
        margin-top: 20px;
    }

    .dics .off {
        display: block;
        background-color: red;
        ;
        font-size: 18px;
        height: 30px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 30px;
        margin-left: 15px;
        margin-top: 20px;
    }



    /* .tick{
    display: flex;
    flex-direction:column;
} */
    .tick img {
        width: 20px;
        float: left;
        margin: 5px 10px 0px 0px;
    }

    .tick p {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .cards button {
        width: 288px;
        height: 64px;
        outline: none;
        border: none;
        border-radius: 30px;
    }

    .cards button a {
        text-decoration: none;
        font-size: 20px;
    }



    .easy {
        font-size: 20px;
        margin-bottom: 15px;
    }



    .extra {
        padding: 30px;
    }

    .head3 {
        text-align: center;
        margin: 100px 0 50px 0;
    }

    .head3 h1 {
        font-size: 43px;
        color: #0575E6;

    }

    .head3 p {
        font-size: 20px;
        color: #021B79;

    }

    .details {
        padding: 0 20px;
    }

    .roundimg {
        background-color: #F3F9FA;
        Width: fit-content;
        align-items: center;
        border-radius: 50%;
    }

    .details img {
        width: 40px;
    }

    .details h1 {
        color: #0575E6;

    }

    .details p {
        color: #021B79;
        font-size: 20px;
        line-height: 29px;
        padding-bottom: 20px;

    }

    .details a {
        font-size: 20px;
        color: #ff3400;
        text-decoration: none;
    }

    .dimg img {
        width: 90vw;
        padding: 50px 0;
    }

    .dimg .graphimgl {
        width: 90vw;
        padding: 50px 0 110px 0;
    }

    .page4 {
        padding: 0 20px;
    }

    .p4img h1 {
        font-size: 40px;
        text-align: center;
        padding-top: 90px;
    }

    .p4img img {
        width: 90vw;
        padding: 20px 0;
    }

    .far {
        font-size: 40px;
        display: flex;
        color: rgb(31, 160, 219);
    }

    .fab {
        font-size: 40px;
        display: flex;
        color: rgb(31, 160, 219);
    }

    .fas {
        font-size: 35px;
        display: flex;
        color: rgb(31, 160, 219);
    }


    .imgtext {
        display: flex;
    }

    .imgtext .hp {
        margin: 0 0 21px 20px;
    }

    .imgtext h1 {
        margin-top: 0;
        font-weight: 500;
    }

    .imgtext p {
        font-size: 20px;
        color: #7B858B;
        line-height: 27px;
    }

    .ext {
        padding: 60px;
    }

    .lastpage {
        position: relative;
        padding: 120px 20px;
        padding-bottom: 0px;

    }

    .lastpage::after {
        position: absolute;
        top: -25px;
        content: "";
        width: 100vw;
        left: 0;
        height: 56px;
        background-color: #fff;
        transform: skewY(-7deg)
    }

    .lasth1 {
        text-align: center;

    }

    .lasth1 h1 {
        color: #0575E6;
    }

    .lasth1 p {
        color: #021B79;
    }

    .commbox img {
        width: 215px;

    }

    .commbox {
        position: relative;
        width: 90vw;
        padding: 30px;
        box-sizing: border-box;
        margin: 20px 0;
        margin-bottom: 80px;
        border-radius: 4px;
        box-shadow: 0px 0px 50px rgb(175, 175, 175);
    }

    .glasguy {
        width: 213px;
        height: 200px;
        margin: auto;
        border-radius: 2%;
        overflow: hidden;
    }

    .italic {
        font-style: italic;
        font-size: 25px;
        text-align: center;
        color: #021B79;
        padding: 17px 0;
    }

    .name {
        color: #0575E6;
        padding-left: 30px;
    }

    .name::after {
        content: "";
        background: #0575E6;
        width: 40px;
        height: 2px;
        position: absolute;
        left: 13px;
        bottom: 47px;

    }


    .name span {
        color: #021B79;
        display: block;
        font-size: 13px;


    }

    .blue {
        padding: 50px;
        text-align: center;
        background-color: #2584ff;
        color: white;
    }



    .blue button {
        width: 240px;
        height: 60px;
        margin-top: 30px;
        outline: 0;
        border: 0;
        border-radius: 30px;
        /* background-image: linear-gradient(to right, #0575E6, #021B79); */
        /* background-image:linear-gradient(to right,#1CB5E0); */
        background-color: #1CB5E0;
    }

    .blue button a {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        color: white;
    }

    footer {
        background: #232323;
        color: whitesmoke;
        padding: 30px 20px;
    }

    footer h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    footer a {
        text-decoration: none;
        color: #777777;
        display: block;
        line-height: 27px;
    }

    .copyright {
        padding: 40px 20px;
        margin: auto;
        text-align: center;

    }

    .copyright img {
        display: block;
        margin: auto;
        width: 230px;
    }






}